BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ContinuationIndentWidth: 4
ColumnLimit: 120
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1
KeepEmptyLines:
  AtStartOfBlock: false
